#header-notification-slider-popup-mask {
    z-index: 1000;
}

.slider-wrapper {
    z-index: 1100;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }

.BottomBorder{
    padding-bottom: 15px;
}