<div class="container">
    <div class="alert alert-success" *ngIf="alert.Show && alert.Type==0">
        <i class="fa fa-check-circle mr-5"></i>
        <span>{{alert.Message}}</span>
    </div>

    <div class="alert alert-danger" *ngIf="alert.Show && alert.Type==1">
        <i class="fa fa-check-circle mr-5"></i>
        <span>{{alert.Message}}</span>
    </div>
    <div class="alert alert-warning" *ngIf="alert.Show && alert.Type==2">
        <i class="fa fa-check-circle mr-5"></i>
        <span>{{alert.Message}}</span>
    </div>
</div>